@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form>
    <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
    <input type="submit" value="Search">
</form>
<h1>Movie Results</h1>

<ul class="movie-list">
    @foreach (Movie movie in @Model.Movies)
    {
        <li>
            <div class="details">
                <h3 class="title">@movie.Title</h3>
                <div class="mpaa">@movie.MPAARating</div>
                <div class="genre">@movie.MajorGenre</div>
            </div>
            <div class="ratings">
                @if (movie.IMDBRating != null)
                {
                    <div class="imdb">
                        @movie.IMDBRating
                    </div>
                }
                @if (movie.RottenTomatoesRating != null)
                {
                    <div class="rotten-tomatoes">
                        @movie.RottenTomatoesRating
                    </div>
                }
            </div>
        </li>
    }
</ul>
